<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysRoleDeptMapper">
    
    <resultMap type="SysRoleDept" id="SysRoleDeptResult">
        <result property="roleId"    column="role_id"    />
        <result property="deptId"    column="dept_id"    />
    </resultMap>

    <sql id="selectSysRoleDeptVo">
        select role_id, dept_id from sys_role_dept
    </sql>

    <select id="selectSysRoleDeptList" parameterType="SysRoleDept" resultMap="SysRoleDeptResult">
        <include refid="selectSysRoleDeptVo"/>
        <where>  
        </where>
    </select>
    
    <select id="selectSysRoleDeptByRoleId" parameterType="Long" resultMap="SysRoleDeptResult">
        <include refid="selectSysRoleDeptVo"/>
        where role_id = #{roleId}
    </select>

    <insert id="insertSysRoleDept" parameterType="SysRoleDept">
        insert into sys_role_dept
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId != null">role_id,</if>
            <if test="deptId != null">dept_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleId != null">#{roleId},</if>
            <if test="deptId != null">#{deptId},</if>
         </trim>
    </insert>

    <update id="updateSysRoleDept" parameterType="SysRoleDept">
        update sys_role_dept
        <trim prefix="SET" suffixOverrides=",">
            <if test="deptId != null">dept_id = #{deptId},</if>
        </trim>
        where role_id = #{roleId}
    </update>

    <delete id="deleteSysRoleDeptByRoleId" parameterType="Long">
        delete from sys_role_dept where role_id = #{roleId}
    </delete>

    <delete id="deleteSysRoleDeptByRoleIds" parameterType="String">
        delete from sys_role_dept where role_id in 
        <foreach item="roleId" collection="array" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </delete>
</mapper>