<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysUserRoleMapper">
    
    <resultMap type="SysUserRole" id="SysUserRoleResult">
        <result property="userId"    column="user_id"    />
        <result property="roleId"    column="role_id"    />
    </resultMap>

    <sql id="selectSysUserRoleVo">
        select user_id, role_id from sys_user_role
    </sql>

    <select id="selectSysUserRoleList" parameterType="SysUserRole" resultMap="SysUserRoleResult">
        <include refid="selectSysUserRoleVo"/>
        <where>  
        </where>
    </select>
    
    <select id="selectSysUserRoleByUserId" parameterType="Long" resultMap="SysUserRoleResult">
        <include refid="selectSysUserRoleVo"/>
        where user_id = #{userId}
    </select>

    <insert id="insertSysUserRole" parameterType="SysUserRole">
        insert into sys_user_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="roleId != null">role_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="roleId != null">#{roleId},</if>
         </trim>
    </insert>

    <update id="updateSysUserRole" parameterType="SysUserRole">
        update sys_user_role
        <trim prefix="SET" suffixOverrides=",">
            <if test="roleId != null">role_id = #{roleId},</if>
        </trim>
        where user_id = #{userId}
    </update>

    <delete id="deleteSysUserRoleByUserId" parameterType="Long">
        delete from sys_user_role where user_id = #{userId}
    </delete>

    <delete id="deleteSysUserRoleByUserIds" parameterType="String">
        delete from sys_user_role where user_id in 
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>
</mapper>